* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: hsl(212, 45%, 89%);
}

.container {
    width: 220px;
    height: 340px;
    margin: 0 auto;
    margin-top: 160px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
}

.title {
    padding-left: 23px;
    padding-right: 23px;
    color: hsl(218, 44%, 22%);
    background: none;
    text-align: center;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 15px;
    font-style: normal;
}

.paragraph {
    padding-top: 10px;
    padding-left: 27px;
    padding-right: 27px;
    line-height: 14px;
    background:none;
    color:  hsl(216, 15%, 48%);
    text-align: center;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 10px;
    font-style: normal;
}

img{
    width: 195px;
    height: 190px;
    border-radius: 10px;
    margin: 13px 13px;
}